@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff
    --foreground: #f6f6f6
    --card: #ffffff
    --card-foreground: #f6f6f6
    --popover: #ffffff
    --popover-foreground: #f6f6f6
    --primary: #ffaa00
    --primary-foreground: #fafafa
    --secondary: #f5f5f5
    --secondary-foreground: #1a1a1a
    --muted: #f5f5f5
    --muted-foreground: #a8a8a8
    --accent: #f5f5f5
    --accent-foreground: #1a1a1a
    --destructive: #ff303d
    --destructive-foreground: #fafafa
    --border: #e5e5e5
    --input: #e5e5e5
    --ring: #d58f00
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a
    --foreground: #fafafa
    --card: #0a0a0a
    --card-foreground: #fafafa
    --popover: #0a0a0a
    --popover-foreground: #fafafa
    --primary: #ccba55
    --primary-foreground: #1a1a1a
    --secondary: #2a2a2a
    --secondary-foreground: #fafafa
    --muted: #2a2a2a
    --muted-foreground: #a3719d
    --accent: #2a2a2a
    --accent-foreground: #fafafa
    --destructive: #8c1f4e
    --destructive-foreground: #fafafa
    --border: #2a2a2a
    --input: #2a2a2a
    --ring: #796c24
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
